<div class="section1 vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-10 col-md-10 col-10 mx-auto">
        <h1 class="display-4 fw-bold text-white">PackCat Official Website
        </h1>
        <p class="text-white my-3">
          ゴミを拾って投稿しよう！
        </p>
        <a href="#" class="original-btn btn py-2 mt-4 fw-bold">新規会員登録（無料）</a>
      </div>
    </div>
  </div>
</div>
<div class="section2 py-5">
  <div class="container py-5">
    <div class="row py-5">
      <h2 class="mb-5 text-center text-white fw-bold fs-1">PackCatにできること</h2>
      <div class="col-lg-3 col-12 col-md-6">
        <div class="mx-1 bg-white px-5 py-5 box mt-4">
          <div class="text-center fw-bold fs-4">
            ゴミを拾って投稿
          </div>
          <div class="text-center mt-3">
            <%= image_tag '/assets/icons8-picking-money-96.png' %>
          </div>
          <div class="mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat asperiores enim illo, ex magnam doloremque qui cupiditate est inventore ipsa delectus repellendus ea cumque consequatur ratione velit ab quos! Possimus.
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6">
        <div class="mx-1 bg-white px-5 py-5 box mt-4">
          <div class="text-center fw-bold fs-4">
            いいねを送り合う
          </div>
          <div class="text-center mt-3">
            <%= image_tag '/assets/icons8-ハート-96.png' %>
          </div>
          <div class="mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat asperiores enim illo, ex magnam doloremque qui cupiditate est inventore ipsa delectus repellendus ea cumque consequatur ratione velit ab quos! Possimus.
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6">
        <div class="mx-1 bg-white px-5 py-5 box mt-4">
          <div class="text-center fw-bold fs-4">
            イベントに参加
          </div>
          <div class="text-center mt-3">
            <%= image_tag '/assets/icons8-イベント承認-96.png' %>
          </div>
          <div class="mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat asperiores enim illo, ex magnam doloremque qui cupiditate est inventore ipsa delectus repellendus ea cumque consequatur ratione velit ab quos! Possimus.
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6">
        <div class="mx-1 bg-white px-5 py-5 box mt-4">
          <div class="text-center fw-bold fs-4">
            ランキングで競う
          </div>
          <div class="text-center mt-3">
            <%= image_tag '/assets/icons8-リーダーボード-96.png' %>
          </div>
          <div class="mt-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat asperiores enim illo, ex magnam doloremque qui cupiditate est inventore ipsa delectus repellendus ea cumque consequatur ratione velit ab quos! Possimus.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section3 py-5">
  <div class="container py-5">
    <div class="row py-5">
      <h2 class="mb-5 text-center developer-text fw-bold fs-1">開発者の声</h2>
      <div class="col-lg-5">
        <%= image_tag "/assets/developer.jpg", class: "developer img-fluid" %>
      </div>
      <div class="col-lg-7">
        <div class="fw-bold fs-4 px-5 mt-4">
          ランキングで競う
        </div>
        <div class="px-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus tempore quod eius asperiores itaque quasi alias, necessitatibus libero blanditiis? Ut assumenda nobis temporibus nulla aperiam doloremque quae, praesentium adipisci!
        </div>
        <div class="fw-bold fs-4 px-5 mt-5">
          ランキングで競う
        </div>
        <div class="px-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus tempore quod eius asperiores itaque quasi alias, necessitatibus libero blanditiis? Ut assumenda nobis temporibus nulla aperiam doloremque quae, praesentium adipisci!
        </div>
        <div class="fw-bold fs-4 px-5 mt-5">
          ランキングで競う
        </div>
        <div class="px-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusamus tempore quod eius asperiores itaque quasi alias, necessitatibus libero blanditiis? Ut assumenda nobis temporibus nulla aperiam doloremque quae, praesentium adipisci!
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section2 vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <h2 class="mb-5 text-center text-white fw-bold fs-1">さあ、ゴミ拾いをはじめよう！</h2>
      <div class="mt-5 text-center">
        <%= link_to "まずは会員登録（無料）", "#", class: "btn original-btn fs-5 px-5 py-3 fw-bold mx-1" %>
      </div>
    </div>
  </div>
</div>
