<div class="container my-5">
  <div class="row">
    <div class="col-lg-2">
      <%= render "layouts/left_menu" %>
    </div>
    <div class="col-lg-6">
      <% if @user.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <% @user.errors.each do |error| %>
            <strong>エラー！</strong> - <%= error.full_message %><br>
          <% end %>
        </div>
      <% end %>
      <%= form_with(model: @user, url: "/profiles/update/#{@user.id}", local: true) do |form| %>
        <div class="mb-3">
          <%= form.text_field :name, class: "form-control", placeholder: "名前" %>
        </div>
        <div class="mb-3">
          <%= form.file_field :icon, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.text_area :profile, class: "form-control", placeholder: "プロフィールを入力", row: 3 %>
        </div>
        <%= form.submit "更新する", class: "btn btn-success px-5" %>
      <% end %>
    </div>
    <div class="col-lg-4">
      <div class="py-5 px-5 bg-primary">
        k
      </div>
    </div>
  </div>
</div>
