<% if @post.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @post.errors.each do |error| %>
      <strong>エラー！</strong> - <%= error.full_message %><br>
    <% end %>
  </div>
<% end %>
<%= form_with(model: @post, url: url, local: true) do |form| %>
  <div class="mb-3">
    <%= form.text_area :content, class: "form-control", placeholder: "ゴミ拾いの内容を投稿しよう！", rows: 3 %>
  </div>
  <div class="mb-3">
    <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.number_field :amount, class: "form-control", placeholder: "拾ったゴミの量をLで入力" %>
  </div>
  <div class="mb-3">
    <%= form.text_field :place, class: "form-control", placeholder: "ゴミ拾いした場所　例）神戸市中央区" %>
  </div>
  <% if url == "/posts/create" %>
    <%= form.submit "投稿する", class: "btn btn-success px-5" %>
  <% else %>
    <%= form.submit "更新する", class: "btn btn-success px-5" %>
  <% end %>
<% end %>
